<button class="button-primary-form"
    onclick={{action "downloadPlugin"}}>dc.admin.jira.appcenterdownload</button>
      
<button class="button-primary-form"
onclick={{action "redirectToIntegrate"}}>dc.admin.jira.appcenterdownload</button>
    